.login,
.main {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1280px;
  height: 832px;
}
.login {
  left: 283px;
  width: 734px;
  height: 700px;
}
.ic-user-1,
.login-page-child {
  position: absolute;
  top: 120px;
  left: 540px;
  width: 200px;
  height: 200px;
}
.ic-user-1 {
  top: 164px;
  left: 586px;
  width: 110px;
  height: 110px;
  object-fit: cover;
}
.quote{
  margin: 0;
  position: absolute;
  top: 379px;
  left: 470px;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 354px;
  height: 59px;
}
.login-page-inner,
.login-page-item {
  border: 0;
  background-color: transparent;
  position: absolute;
  top: 459px;
  left: 391px;
}
.login-page-inner {
  top: 527px;
  left: 390px;
}
.forget-password,
.rectangle-button {
  position: absolute;
  top: 621px;
  left: 390px;
}
.forget-password {
  text-decoration: none;
  top: 589px;
  left: 727px;
  color: inherit;
}
.rectangle-footer {
  position: absolute;
  top: 698px;
  left: 0;
  background-color: var(--color-white);
  width: 1280px;
  height: 134px;
}
.privacy-policy {
  left: 977px;
  color: inherit;
  text-decoration: none;
}
.needed-help,
.powered-by,
.privacy-policy {
  position: absolute;
  top: 732px;
}
.powered-by {
  margin: 0;
  left: 80px;
  color: #728391;
}
.needed-help {
  left: 824px;
  color: inherit;
  text-decoration: none;
}
.logog-1-icon {
  position: absolute;
  top: 734px;
  left: 198px;
  width: 100px;
  height: 23px;
  object-fit: cover;
}
.welcome {
  margin: 0;
  position: absolute;
  top: 320px;
  left: 516px;
  font-size: 48px;
  font-weight: 700;
  font-family: inherit;
  color: var(--color-darkslategray);
  display: inline-block;
  width: 248px;
  height: 90px;
}
.login-page {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 832px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-slateblue);
  font-family: var(--font-open-sans);
}
@media screen and (max-width: 1200px) {
  .login,
  .login-page-child {
    display: flex;
  }
}
